{% extends 'front/base.html' %}

{% block title %}NyoalAI - Daftar{% endblock title %}

{% block content %}
    <div class="wrapper d-flex flex-column justify-between">
        <main class="flex-grow-1">
            <section class="account-section login-page py-6 h-full">
                <div class="container-fluid h-full">
                    <div class="row h-full">
                        <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up-sm" data-aos-delay="50">
                            <div class="bg-lite-blue border border-lite-blue-2 rounded-4 h-full p-6 p-md-20 text-center d-flex flex-column justify-center">
                                <h2 class="mb-12">
                                    Rasakan kemudahan membuat soal bersama <span class="text-gradient-1">NyoalAI</span>.
                                </h2>
                                <img src="{{ url_for('static', filename='front/images/screens/screen-3.png') }}" alt="" class="img-fluid w-full mt-n24 mb-n10" />
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-up-sm" data-aos-delay="100">
                            <div class="close-btn">
                                <a href="{{ url_for('index') }}" class="icon w-12 h-12 rounded p-3 d-flex align-center justify-center ms-auto bg-primary bg-opacity-10 text-primary border border-primary border-opacity-25">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M18 6 6 18M6 6l12 12" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="account-wrapper h-full d-flex flex-column justify-center">
                                <div class="text-center">
                                    <a href="">
                                        <img src="{{ url_for('static', filename='front/images/logo/logo-horizontal.svg') }}" alt="" class="img-fluid" width="165" />
                                    </a>

                                    <form action="#" class="vstack gap-4 mt-10">
                                        <div class="text-start">
                                            <div class="input-group with-icon">
                                                <span class="icon">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															fill="none"
															viewBox="0 0 18 18">
															<g
																stroke="currentColor"
																stroke-linecap="round"
																stroke-linejoin="round"
																stroke-width="1.2">
																<path
																	d="M2.25 5.25a1.5 1.5 0 0 1 1.5-1.5h10.5a1.5 1.5 0 0 1 1.5 1.5v7.5a1.5 1.5 0 0 1-1.5 1.5H3.75a1.5 1.5 0 0 1-1.5-1.5v-7.5Z" />
																<path d="M2.25 5.25 9 9.75l6.75-4.5" />
															</g>
														</svg>
													</span>
                                                <input type="email" class="form-control rounded-2 py-4" placeholder="Masukkan email Anda" />
                                            </div>
                                        </div>
                                        <div class="text-start">
                                            <div class="input-group with-icon">
                                                <span class="icon">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															fill="none"
															stroke="currentColor"
															stroke-linecap="round"
															stroke-linejoin="round"
															stroke-width="1.5"
															viewBox="0 0 24 24">
															<path stroke="none" d="M0 0h24v24H0z" />
															<path
																d="M12 3a12 12 0 0 0 8.5 3A12 12 0 0 1 12 21 12 12 0 0 1 3.5 6 12 12 0 0 0 12 3" />
															<circle cx="12" cy="11" r="1" />
															<path d="M12 12v2.5" />
														</svg>
													</span>
                                                <input type="password" class="form-control rounded-2 py-4" placeholder="Password" />
                                            </div>
                                        </div>
                                        <div class="text-start">
                                            <div class="input-group with-icon">
                                                <span class="icon">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															fill="none"
															stroke="currentColor"
															stroke-linecap="round"
															stroke-linejoin="round"
															stroke-width="1.5"
															viewBox="0 0 24 24">
															<path stroke="none" d="M0 0h24v24H0z" />
															<path
																d="M12 3a12 12 0 0 0 8.5 3A12 12 0 0 1 12 21 12 12 0 0 1 3.5 6 12 12 0 0 0 12 3" />
															<circle cx="12" cy="11" r="1" />
															<path d="M12 12v2.5" />
														</svg>
													</span>
                                                <input type="password" class="form-control rounded-2 py-4" placeholder="Konfirmasi password" />
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary w-full py-4">
                                                Buat Akun NyoalAI
                                            </button>
                                        </div>
                                        <div class="text-center">
                                            <p>
                                                Sudah punya akun?
                                                <a href="{{ url_for('auth.sign_in') }}" class="text-decoration-none"> Masuk disini </a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock content %}