{% extends 'dashboard/base.html' %}

{% block title %}NyoalAI - Dashboard - Uji Coba{% endblock title %}

{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Uji Coba
        </div>
        <h2 class="page-title">
          Uji Coba Pembuatan Soal
        </h2>
      </div>
    </div>
  </div>
</div>

<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Data Pembuatan Soal</h3>
          </div>
          <div class="card-body">
            <div class="alert alert-warning mb-4">
              <div class="d-flex">
                <div class="me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v4" />
                    <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                    <path d="M12 16h.01" />
                  </svg>
                </div>
                <div>
                  <div>Hanya mendukung teks Bahasa Indonesia non-matematis.</div>
                </div>
              </div>
            </div>
            <form method="POST" id="prediction-form">
              <label class="form-label">Materi <span class="form-label-description" id="char-indicator">0/1024</span></label>
              <textarea class="form-control mb-3" id="context" name="context" rows="12" placeholder="Content..">{% if context %}{{ context }}{% endif %}</textarea>
              <div class="row justify-content-end">
                <div class="col-auto">
                  <div id="reset-button" class="btn btn-warning w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-reload">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747" />
                      <path d="M20 4v5h-5" />
                    </svg> Reset
                  </div>
                </div>
                <div class="col-auto">
                  <div id="paste-button" class="btn btn-success w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                      <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                    </svg> Paste
                  </div>
                </div>
                <div class="col-auto">
                  <button submit class="btn btn-primary w-100">
                    Buat Soal <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right me-0 ms-2">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l14 0" />
                      <path d="M13 18l6 -6" />
                      <path d="M13 6l6 6" />
                    </svg>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Prediksi Soal & Jawaban</h3>
          </div>
          <div class="card-body">
            <div class="alert alert-warning mb-4">
              <div class="d-flex">
                <div class="me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v4" />
                    <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                    <path d="M12 16h.01" />
                  </svg>
                </div>
                <div>
                  <div>Selalu cek kembali hasil prediksi soal & jawaban sebelum digunakan.</div>
                </div>
              </div>
            </div>
            {% if predictions %}
            {% for pred in predictions %}
            <div class="card mb-3">
              <div class="card-body">
                <span class="badge bg-primary text-white">Pertanyaan</span>
                <p>{{ pred['question'] }}</p>
                <span class="badge bg-success text-white">Jawaban</span>
                <p>{{ pred['answer'] }}</p>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-info mb-4">
              <div class="d-flex">
                <div class="me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-info-square-rounded">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9h.01" />
                    <path d="M11 12h1v4h1" />
                    <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
                  </svg>
                </div>
                <div>
                  <div>Silahkan isi materi dan klik "Buat Soal".</div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block modal %}
<div class="modal modal-blur fade" id="loading-modal" tabindex="-1" style="display: none;" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title text-center">Loading</div>
        <div class="w-100 text-center">
          <div class="spinner-border text-muted" role="status"></div>
        </div>
        <div class="text-center">Harap tunggu sejenak. NyoalAI sedang membuat soal untukmu.</div>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block script %}
<script>
  $(document).ready(function () {
    $("#loading-modal").modal('show');

    $('#reset-button').click(function () {
      $('#prediction-form')[0].reset();
    });

    $("#paste-button").click(function () {
      navigator.clipboard.readText().then(function (text) {
        $("#context").val(text);
        $("#context").trigger('input');
      });
    });

    var max_length = 1024;

    $("#context").on('input', function () {
      var length = $(this).val().length;
      var remaining_length = max_length - length;
      if (remaining_length < 0) {
        $(this).val($(this).val().substring(0, max_length));
      }
      $('#char-indicator').text($(this).val().length + '/' + max_length);
    });

    $('#prediction-form').submit(function (e) {
      e.preventDefault();
      $("#loading-modal").modal('show');
      this.submit();
    });
  });
</script>
{% endblock script %}