{% extends 'dashboard/base.html' %}

{% block title %}NyoalAI - Dashboard - Paket Soal{% endblock title %}

{% block style %}
<link href="{{ url_for('static', filename='dashboard/css/tabler-vendors.min.css') }}" rel="stylesheet" />

<style>
    td.wrap {
        white-space: normal;
    }
</style>
{% endblock style %}

{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Paket Soal
                </div>
                <h2 class="page-title">
                    Manajemen Data Paket Soal
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-new-qa-pack">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 5l0 14"></path>
                            <path d="M5 12l14 0"></path>
                        </svg>
                        Buat paket soal baru
                    </a>
                    <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-new-qa-pack" aria-label="Create new qa pack">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 5l0 14"></path>
                            <path d="M5 12l14 0"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Data Paket Soal</h3>
                    </div>
                    <div class="table-responsive">
                        <table id="table" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama</th>
                                    <th>Tag</th>
                                    <th>Jumlah Soal</th>
                                    <th>Export</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for qa_pack in qa_packs %}
                                <tr>
                                    <td><span class="text-muted">{{ loop.index }}</span></td>
                                    <td>{{ qa_pack.name }}</td>
                                    <td class="wrap">
                                        {% for tag in qa_pack.tags %}
                                        <span class="status status-{{ tag.color }} h5 m-0 my-1">{{ tag.name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ qa_pack.total_qas }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-red mb-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-download">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                                <path d="M7 11l5 5l5 -5" />
                                                <path d="M12 4l0 12" />
                                            </svg>
                                            PDF
                                        </button>
                                        <button id="docx-export-button-{{ loop.index }}" onclick="export_docx('{{ qa_pack.id }}', {{ loop.index }})" class="btn btn-sm btn-outline-blue mb-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-download">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                                <path d="M7 11l5 5l5 -5" />
                                                <path d="M12 4l0 12" />
                                            </svg>
                                            Word
                                        </button>
                                        <br>
                                        <a href="#" class="btn btn-sm btn-outline-orange"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-download">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                                <path d="M7 11l5 5l5 -5" />
                                                <path d="M12 4l0 12" />
                                            </svg>
                                            Moodle
                                        </a>
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-warning btn-icon" href="{{ url_for('qa_pack.detail', id=qa_pack.id) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                                <path d="M16 5l3 3" />
                                            </svg>
                                        </a>
                                        <button class="btn btn-danger btn-icon" onclick="delete_qa_pack('{{ qa_pack.id }}', '{{ qa_pack.name }}')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 7l16 0" />
                                                <path d="M10 11l0 6" />
                                                <path d="M14 11l0 6" />
                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {# <tr>
                                    <td><span class="text-muted">1</span></td>
                                    <td>Ulangan Harian IPA - Taksonomi</td>
                                    <td><span class="status status-primary h5 m-0">IPA</span></td>
                                    <td>10</td>
                                    <td>
                                        <a href="#" class="btn btn-outline-red">PDF</a>
                                        <a href="#" class="btn btn-outline-blue">Word</a>
                                        <a href="#" class="btn btn-outline-orange">Moodle</a>
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-warning btn-icon" href="{{ url_for('qa_pack.detail', id=1) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                                <path d="M16 5l3 3" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-danger btn-icon" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-qa-pack">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 7l16 0" />
                                                <path d="M10 11l0 6" />
                                                <path d="M14 11l0 6" />
                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr> #}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal modal-blur fade" id="modal-new-qa-pack" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action="{{ url_for('qa_pack.create') }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Paket Soal Baru</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nama<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="name" placeholder="Nama paket soal baru" required>
                    </div>
                    <div>
                        <label class="form-label">Tag</label>
                        <select name="tags_id" class="form-select" placeholder="Select tags" id="select-tags" value="" multiple>
                            <option value="" hidden disabled>Pilih tag (opsional) ...</option>
                            {% for tag in tags %}
                            <option value="{{ tag['id'] }}">{{ tag['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Batal
                    </div>
                    <button type="submit" class="btn btn-primary ms-auto">
                        Simpan paket soal baru
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-delete-qa-pack" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z"></path>
                    <path d="M12 9v4"></path>
                    <path d="M12 17h.01"></path>
                </svg>
                <h3>Hapus paket soal?</h3>
                <div class="text-muted">Apakah Anda yakin menghapus paket soal <b id="delete-qa-pack-name"></b>? <br>Paket soal yang dihapus tidak dapat dikembalikan.</div>
            </div>
            <form action="{{ url_for('qa_pack.delete') }}" method="post">
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <input id="delete-qa-pack-id" type="hidden" name="qa_pack_id">
                            <div class="col">
                                <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                    Batal
                                </a>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-danger w-100">
                                    Hapus
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-success" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-success"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M9 12l2 2l4 -4"></path>
                </svg>
                <h3 id="modal-success-title"></h3>
                <div id="modal-success-description" class="text-muted"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-blur fade" id="modal-danger" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z"></path>
                    <path d="M12 9v4"></path>
                    <path d="M12 17h.01"></path>
                </svg>
                <h3 id="modal-danger-title"></h3>
                <div id="modal-danger-description" class="text-muted"></div>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block script %}
<script src="{{ url_for('static', filename='dashboard/libs/tom-select/dist/js/tom-select.base.min.js') }}" defer></script>

<script>
    function delete_qa_pack(id, name) {
        $('#delete-qa-pack-id').val(id);
        $('#delete-qa-pack-name').text(name);
        $('#modal-delete-qa-pack').modal('show');
    }

    function success_model(title, description) {
        $('#modal-success-title').text(title);
        $('#modal-success-description').text(description);
        $('#modal-success').modal('show');
    }

    function danger_model(title, description) {
        $('#modal-danger-title').text(title);
        $('#modal-danger-description').text(description);
        $('#modal-danger').modal('show');
    }

    function export_docx(id, index) {
        $(`#docx-export-button-${index}`).attr('disabled', true);
        $(`#docx-export-button-${index}`).html('Exporting...')
        $.ajax({
            url: `{{ url_for('qa_pack.export_docx') }}`,
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                'qa_pack_id': id
            }),
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                success_model('Berhasil', 'Paket soal berhasil diexport ke format Word')
                setTimeout(function () {
                    window.location.href = `/dashboard/qa_pack/download-export/docx/${response.message}`;
                }, 1000);
            },
            error: function (response) {
                danger_model('Gagal', data.responseJSON.message)
            },
            complete: function () {
                $(`#docx-export-button-${index}`).attr('disabled', false);
                $(`#docx-export-button-${index}`).html(`
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-download">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                        <path d="M7 11l5 5l5 -5" />
                        <path d="M12 4l0 12" />
                    </svg>
                    Word
                `);
            }
        });
    }

    $(document).ready(function () {
        $('#table').DataTable();

        var el;
        window.TomSelect && (new TomSelect(el = document.getElementById('select-tags'), {
            copyClassesToDropdown: false,
            dropdownParent: 'body',
            controlInput: '<input>',
            render: {
                item: function (data, escape) {
                    if (data.customProperties) {
                        return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                    }
                    return '<div>' + escape(data.text) + '</div>';
                },
                option: function (data, escape) {
                    if (data.customProperties) {
                        return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                    }
                    return '<div>' + escape(data.text) + '</div>';
                },
            },
        }));
    });
</script>
{% endblock script %}